<!DOCTYPE html>
<html>
  <head>
    <title>RailsCookbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Render the Navbar Partial -->
    <%= render 'shared/navbar' %>

    <!-- Banner Section -->
    <% if current_page?(root_path) || current_page?(categories_path) %>
      <section class="banner">
        <div class="container text-center text-white">
          <h1 class="banner-title">CookBook</h1>
          <p class="banner-subtitle">Save your favourite recipes</p>
        </div>
      </section>
    <% end %>

    <!-- Main Content -->
    <main>
      <%= yield %>
    </main>
  </body>
</html>
